@import url('https://fonts.googleapis.com/css2?family=Ovo&family=Quattrocento+Sans&display=swap');

/* -- Global Styles -- */

/* Set values used throughout the site as variables to allow for easy alteration */
:root {
  --body-bg-colour: rgb(244, 245, 247);
  --section-primary-colour: rgb(102, 190, 234);
}

/* Configure universal box-sizing to make box model layout calculations easier */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Remove default margin and padding for every element on the page to keep
spacing consistent across browsers */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Quattrocento Sans', sans-serif;
}

h1,
h2,
h3 {
  font-family: 'Ovo', serif;
}

/* Major third type scale (from type-scale.com/) - largest size unused for
mobile screens */
h1 {
  font-size: 2.441rem;
}

h2 {
  font-size: 1.953rem;
}

h3 {
  font-size: 1.563rem;
}

/* Applies a background colour to only the sections of the page whose index is
an even, producing and alternating colour scheme */
section:nth-child(even) {
  background-color: var(--section-primary-colour);
}

/* Padding that will apply to all section elements */
section {
  padding: 25px 5%;
}

/* -- Multiple use classes -- */

.section-heading {
  margin-bottom: 50px;
  text-align: center;
}

/* -- Standard buttons -- */

.std-btn {
  font-family: 'Quattrocento Sans', sans-serif;
  font-size: 1.2em;
  padding: 15px;
  border-radius: 10px;
  background-color: #f98530;
  border: 2px solid #e2792d;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.3),
    2px 4px 4px rgba(0, 0, 0, 0.3),
    3px 6px 6px rgba(0, 0, 0, 0.3);
  transition: all 250ms;
  user-select: none;
}

.std-btn:hover {
  filter: brightness(105%) drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.5));
  transform: scale(1.02, 1.02);
}

.std-btn:active {
  transform: scale(0.95, 0.95);
}

/* -- Header - Logo and Navigation -- */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100vw;
  padding: 15px 0;
  border-bottom: 1px solid black;
}

#logo {
  display: flex;
  align-items: center;
  gap: 5px;
  height: 100px;
  text-align: center;
  user-select: none;
  text-decoration: none;
  color: black;
}

.logo-img {
  height: 90%;
}

.logo-heading {
  font-family: 'Ovo', serif;
  font-size: 30px;
  font-weight: bolder;
  padding-top: 2px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

#navigation-container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  list-style-type: none;
}

#navigation-container a {
  text-decoration: none;
  color: black;
}

#navigation-container a:hover {
  border-bottom: 2px solid black;
}

/* -- Hero section -- */

#hero-section {
  text-align: center;
}

/* Add padding to all children of the hero section except the last */
#hero-section :not(:last-child) {
  margin-bottom: 40px;
}

.hero-paragraph {
  font-size: 1.3rem;
}

/* -- Services section -- */

#services-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.service-item {
  text-align: center;
  flex-basis: 250px;
}

.service-item :not(:last-child) {
  margin-bottom: 20px;
}

.service-item-img {
  max-height: 100px;
}

/* -- Team section -- */

#team-container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.team-item {
  flex-basis: 300px;
  background-color: var(--body-bg-colour);
  border-radius: 10px;
  overflow: hidden;
}

.team-item-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding: 20px;
}

.team-item-content-image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.team-item-content-name {
  font-weight: bold;
}

.team-item-content-role {
  font-style: italic;
}

.team-item-content-intro {
  margin-top: 20px;
}

.team-item-socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  padding: 20px;
  background-color: #f98530;
}

.team-item-socials a {
  color: white;
}

.team-item-socials a:hover {
  color: black;
}

/* -- Media queries -- */

/* Medium devices (tablets, 768px and up) */
@media screen and (min-width: 768px) {

  /* Major third type scale (from type-scale.com/) - largest size used for
  larger screens */
  h1 {
    font-size: 3.052rem;
  }

  h2 {
    font-size: 2.441rem;
  }

  h3 {
    font-size: 1.953rem;
  }

  /* Increase to base paragraph size to give impact */
  p {
    font-size: 1.2rem;
  }

  /* Change layout of header to suit larger screens */
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10%;
  }

  /* Increase section padding */
  section {
    padding: 6vh 10%;
  }

  .hero-paragraph {
    font-size: 1.4rem;
  }
}